@model Upper.Models.Livro

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes Livro</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemLivroBase64)
        </dt>
        <dd class="col-sm-10">
            @if (@Model.ImagemLivroBase64 != null)
            {
                <img src="data:image;base64,@Model.ImagemLivroBase64" alt="Imagem do Livro">
            }else{
                <h6>Imagem não disponível</h6>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Editora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Editora)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
